@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600&display=swap');

*{
	font-family: 'Baloo Paaji 2', cursive;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body{
	/* background: #f5f5f5; */
	background: #f3f5f9;
}

.wrapper {
	display: flex;
	position: relative;
}

.wrapper .sidebar{
	position: fixed;
	width: 250px;
	height: 100%;
	/* background: #4b4276; */
	/* background:rgba(0, 0, 0, 0.5) ; */
	padding: 30px; 
	/* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
				  url("Navbar.jpg"); */
	background-image: linear-gradient(rgba(10, 10, 12, 0.7), rgba(77, 77, 53, 0.5)),              
	              url("Navbar.jpg");
	/* background-image: url('Navbar.jpg'); */
}

.wrapper .sidebar h2{
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.wrapper .sidebar ul li{
	padding: 15px;
	cursor: pointer;
	/* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
	/* border-top: 1px solid rgba(225,225,225, 0.5);
	border-bottom: 1px solid rgba(225,225,225, 0.5); */
}

.wrapper .sidebar ul li a{
	color: #dfdde9;
	display: block;
}

.wrapper .sidebar ul li a .fas{
	width:30px;
}

.wrapper .sidebar ul li:hover {
	background: #5f5d6d;
}

.wrapper .sidebar ul li:hover a{
	color: #fff;
}

.wrapper .sidebar .social_media{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}

.wrapper .sidebar .social_media a{
	display: block;
	width: 45px;
	height:40px;
	/* background: #594f8d; */
	background: #e7e7eb;
	line-height: 40px;
	text-align: center;
	margin: 0 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-bottom: 15%;
}

.main_content{
	width: 100%;
	margin-left: 200px;
}

.wrapper .main_content .header{
	padding: 20px;
	background: #fff;
	color: #717171;
	text-align: center;
	text-transform: uppercase;
	border-bottom:1px solid #e0e4e8;
}

.wrapper .main_content .info {
	margin-left: 85px;
	margin-top: 45px;
	margin-right: 45px;
	/* color: #717171; */
	line-height: 25px;
}

.wrapper .main_content .info div{
	margin-bottom: 20px;
}



.sidebar ul ul {
	transition: all 0.3s;
	opacity: 0;
	position: absolute;
	/* border-left: 3px solid #ca2828; */
	/* border-right: 3px solid #412424; */
	visibility: hidden;
	width: max-content;
	left: 102%;
	top: 22%;
}
.sidebar ul li:hover > ul{
	opacity: 1;
	visibility: visible;
	background: #19181d;
	/* background: #fff; */

}

.card-img-top{
	height: 400px;
	width: 250px;
}
